/*
576px ...スマホ
768px ...タブレット
992px ...小さなモニタ
1200px ...少し小さいパソコンのモニタ
1400px ...一般的なパソコンのモニタ
*/

html {
  scroll-behavior: smooth;
}

body {
  color: #343434;
  font-family: "Noto Serif", serif;
  font-weight: 400;
}

/* ----------------------------------------- */
/* common */
/* ----------------------------------------- */

[class$="_block"] {
  padding: 0px 120px;
}

.section_title {
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 0.1em;
  line-height: 1;
  text-transform: uppercase;
  padding-top: 100px;
  padding-bottom: 60px;
}

.section_title span {
  color: #b0a698;
  font-family: "Noto Serif JP", serif;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.1em;
  line-height: 1;
  display: block;
  padding-top: 12px;
}

/*　common メディアクエリ */
/* ----------------------------------------- */

@media print, screen and (max-width: 1200px) {
  [class$="_block"] {
    padding: 0px 8%;
  }
}

@media print, screen and (max-width: 768px) {
  .section_title {
    font-size: 22px;
    padding-top: 70px;
    padding-bottom: 40px;
  }

  .section_title span {
    font-size: 14px;
    padding-top: 10px;
  }
}

@media print, screen and (max-width: 576px) {
  .section_title {
    padding-top: 50px;
    padding-bottom: 30px;
  }
}

/* ----------------------------------------- */
/* header */
/* ----------------------------------------- */

.header_block {
  position: relative;
  z-index: 1000;
}

.header_inner {
  width: calc(100% - 240px);
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: fixed;
}

.header_logo {
  max-width: 250px;
  max-height: 50px;
  aspect-ratio: 5/1;
  filter: drop-shadow(0px 0px 1px rgba(255, 255, 255, 0.8));
}

.header_logo img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.header_nav ul {
  display: flex;
  gap: 40px;
  font-size: 24px;
  line-height: 1;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  filter: drop-shadow(0px 0px 1px rgba(255, 255, 255, 0.8));
}

.header--hidden {
  transform: translateY(-100%);
  opacity: 0;
}

/*　header メディアクエリ */
/* ----------------------------------------- */
@media screen and (min-width: 1201px) {
  .header_nav .header_links {
    display: none;
  }
}

@media print, screen and (max-width: 1200px) {
  .header_inner {
    width: calc(100% - 16%);
  }

  .header_logo {
    width: 31vw;
    height: auto;
  }

  .header_nav {
    width: 100%;
    height: 100vh;
    color: #fff;
    position: fixed;
    opacity: 0;
    pointer-events: none;
    top: 0px;
    left: 0px;
    overflow-y: auto;
  }

  .header_nav.is_active {
    opacity: 1;
    pointer-events: auto;
  }

  .header_nav ul {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 20vw 20vw 50px;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .header_nav ul li {
    width: 40%;
  }

  .header_nav.is_active .header_links {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0px 20% 60px;
  }

  .header_nav.is_active .header_links .btn_reserve_white,
  .header_nav.is_active .header_links .btn_coupon {
    width: 250px;
    height: 50px;
    border-radius: 4px;
    font-size: 16px;
  }

  .header_nav.is_active .header_links .btn_reserve_white {
    color: #343434;
  }
}

@media print, screen and (max-width: 768px) {
  .header_inner {
    height: 64px;
  }

  .header_nav ul {
    padding: 25vw 20vw 50px;
  }
}

@media print, screen and (max-width: 576px) {
  .header_logo {
    width: 125px;
    height: 25px;
  }
}

/* ----------------------------------------- */
/* hamburger_menu */
/* ----------------------------------------- */

.hamburger_menu {
  display: none;
  width: 50px;
  height: 50px;
  text-align: center;
}

.hamburger_text {
  font-size: 12px;
  line-height: 1;
  letter-spacing: 0.16em;
  transition: transform 0.2s, width 0.2s, opacity 0.2s;
  text-shadow: 0 0 6px rgba(255, 255, 255, 1), 0 0 12px rgba(255, 255, 255, 0.9);
}

.hamburger_bar1,
.hamburger_bar2 {
  display: block;
  background: #343434;
  width: 48px;
  height: 1px;
  margin: 8px auto 0px;
  transition: transform 0.2s, width 0.2s, opacity 0.2s;
  transform-origin: 1px 1px;
  filter: drop-shadow(0 0 3px rgba(255, 255, 255, 1))
    drop-shadow(0 0 6px rgba(255, 255, 255, 0.8));
}

.hamburger_menu.is_active .hamburger_text {
  color: #fff;
}

.hamburger_menu.is_active .hamburger_bar1 {
  background: #fff;
  transform: translateY(8.5px) rotate(-10deg);
  width: 50px;
}

.hamburger_menu.is_active .hamburger_bar2 {
  background: #fff;
  transform: translateY(-8.5px) rotate(10deg);
  width: 50px;
}

.hamburger_bg {
  opacity: 0;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: #222;
  z-index: 999;
  pointer-events: none;
  transition: opacity 0.4s ease-out;
}

.hamburger_bg.is_active {
  opacity: 1;
  pointer-events: auto;
}

/*　hamburger_menu メディアクエリ */
/* ----------------------------------------- */

@media print, screen and (max-width: 1200px) {
  .hamburger_menu {
    display: block;
    position: relative;
    z-index: 1000;
  }
}

/* ----------------------------------------- */
/* fv */
/* ----------------------------------------- */

.fv_block {
  max-width: 1440px;
  width: 100%;
  height: 700px;
  background: url(../img/img_fv_pc.png) no-repeat bottom center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.fv_links {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding-bottom: 16px;
}

.btn_reserve_black {
  width: 300px;
  height: 80px;
  background: #343434;
  filter: drop-shadow(0px 0px 8px rgba(255, 255, 255, 0.2));
  font-size: 20px;
  font-weight: 700;
  display: inline-flex;
  line-height: 1;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #fff;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  transition: color 0.4s ease-in, border 0.4s ease-in,
    background-color 0.4s ease-in;
}

.btn_menu {
  width: 300px;
  height: 80px;
  font-size: 20px;
  font-weight: 700;
  display: inline-flex;
  line-height: 1;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  background: #ffffff;
  box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.2);
  border: 1px solid #343434;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  transition: color 0.4s ease-in, border 0.4s ease-in,
    background-color 0.4s ease-in;
}

.scroll_down {
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}

.scroll_down span {
  color: #b0a698;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0.1em;
}

/*　fv メディアクエリ */
/* ----------------------------------------- */

@media print, screen and (max-width: 768px) {
  .fv_block {
    width: 100%;
    height: 112vw;
    background: url(../img/img_fv_sp.png) no-repeat center center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .fv_links {
    display: flex;
    gap: 40px;
    padding-bottom: 16px;
  }

  .btn_reserve_black {
    pointer-events: none;
    opacity: 0;
  }

  .btn_menu {
    pointer-events: none;
    opacity: 0;
  }
}
@media print, screen and (max-width: 576px) {
  .fv_block {
    height: 150vw;
  }

  .scroll_down {
    gap: 4px;
  }

  .scroll_down span {
    font-size: 12px;
  }

  .scroll_down img {
    width: 10px;
    height: 10px;
  }
}

/* ----------------------------------------- */
/* style */
/* ----------------------------------------- */

.style_card {
  position: relative;
  overflow: hidden;
  border-radius: 150px;
  aspect-ratio: 3/4;
}

.style_card img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.style_name {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 3;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0.06em;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 36px;
}

.style_name span {
  background: rgba(176, 166, 152, 0.4);
  border-radius: 2px;
  padding: 5px;
}

/*　style メディアクエリ */
/* ----------------------------------------- */

@media print, screen and (max-width: 1200px) {
  .style_name {
    font-size: 12px;
    padding-bottom: 24px;
  }
}

@media print, screen and (max-width: 768px) {
  .style_name {
    display: none;
  }

  .style_name span {
    display: none;
  }
}

/* swiper */
/* ----------------------------------------- */
.style_swiper_wrap {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 0px;
}

.style_block .swiper {
  position: relative;
  overflow: hidden;
}

.swiper-button {
  position: absolute;
  top: -110px;
  right: 0px;
  display: flex;
  gap: 20px;
}

.swiper-button-prev,
.swiper-button-next {
  width: 50px;
  height: 50px;
  border-radius: 30px;
  border: 1px solid #b0a698;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.swiper-button-prev img,
.swiper-button-next img {
  width: 20px;
  height: 15px;
}

.swiper-button-disabled {
  opacity: 0.5;
  cursor: default;
}

/*　swiper メディアクエリ */
/* ----------------------------------------- */
@media print, screen and (max-width: 1200px) {
  .style_block .swiper {
    max-width: 80%;
  }
}

@media print, screen and (max-width: 768px) {
  .swiper-button {
    display: none;
  }
}

/* ----------------------------------------- */
/* menu */
/* ----------------------------------------- */

.menu_list {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 100px;
}

.menu_card {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #343434;
  width: 46%;
}

.menu_card:nth-child(even) {
  margin-left: 8%;
}

.menu_card dt {
  font-family: "Noto Serif JP", serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.06em;
  padding: 0px 0px 20px 0px;
}

.menu_card dt span {
  color: #b0a698;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 0.1em;
  padding-left: 10px;
}

.menu_card dd {
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0.06em;
  padding: 0px 0px 20px 0px;
}

.menu_card:nth-child(n + 3) dt,
.menu_card:nth-child(n + 3) dd {
  padding: 40px 0px 20px 0px;
}

/*　menu メディアクエリ */
/* ----------------------------------------- */
@media print, screen and (max-width: 992px) {
  .menu_list {
    padding-bottom: 50px;
  }

  .menu_card {
    width: 100%;
  }

  .menu_card:nth-child(even) {
    margin-left: 0px;
  }

  .menu_card dt {
    padding: 30px 0px 20px 0px;
  }

  .menu_card dd {
    padding: 30px 0px 20px 0px;
  }

  .menu_card:first-child dt,
  .menu_card:first-child dd {
    padding: 0px 0px 20px 0px;
  }
}

@media print, screen and (max-width: 576px) {
  .menu_card dt span {
    display: none;
  }
}

/* ----------------------------------------- */
/* staff */
/* ----------------------------------------- */

.staff_list {
  display: flex;
  justify-content: space-between;
  padding-bottom: 100px;
}

.staff_card {
  display: flex;
  flex-direction: column;
}

.staff_img {
  max-width: 300px;
  max-height: 400px;
  aspect-ratio: 3/4;
}

.staff_img img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}

.staff_card .post {
  font-family: "Noto Serif JP", serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.06em;
  padding: 20px 0px 12px;
}

.staff_card .name_jp {
  font-family: "Noto Serif JP", serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.06em;
  padding-bottom: 14px;
}

.staff_card .name_en {
  color: #7c7b7b;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

/*　staff メディアクエリ */
/* ----------------------------------------- */

@media print, screen and (max-width: 1200px) {
  .staff_img {
    max-width: 270px;
    max-height: 360px;
  }
}

@media print, screen and (max-width: 992px) {
  .staff_list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 2%;
    padding-bottom: 50px;
  }

  .staff_card {
    width: 49%;
  }

  .staff_card:last-child {
    padding-top: 60px;
  }
}

@media print, screen and (max-width: 768px) {
  .staff_card .post {
    font-size: 12px;
    padding: 10px 0px 10px;
  }

  .staff_card .name_jp {
    font-size: 20px;
    padding-bottom: 10px;
  }

  .staff_card .name_en {
    font-size: 12px;
    text-transform: uppercase;
  }
}

@media print, screen and (max-width: 576px) {
  .staff_card {
    width: 49%;
  }
  .staff_img {
    width: 150px;
    height: 200px;
  }
}

/* ----------------------------------------- */
/* access */
/* ----------------------------------------- */

.access_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 100px;
  padding-bottom: 100px;
}

.access_card {
  display: flex;
  flex-direction: column;
  max-width: 550px;
  width: 44%;
}

.access_img {
  max-width: 550px;
  max-height: 330px;
  aspect-ratio: 5/3;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
}

.access_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  z-index: 1;
  transition: transform 0.4s ease;
}

.access_card span {
  position: absolute;
  z-index: 10;
  text-align: center;
  color: #fff;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.4;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.access_card .access_name {
  position: relative;
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding: 0px 0px 20px 17px;
}

.access_card .access_name::before {
  content: "-";
  position: absolute;
  left: 0px;
  top: -1px;
}

.access_card .address {
  font-family: "Noto Serif JP", serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.1em;
  padding: 20px 0px;
}

.access_card .tel {
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.1em;
}

@media (hover: hover) {
  .access_img:hover img,
  .access_img:focus img {
    transform: scale(1.1);
  }
}

/*　access メディアクエリ */
/* ----------------------------------------- */

@media print, screen and (max-width: 992px) {
  .access_list {
    gap: 60px;
    padding-bottom: 50px;
  }
  .access_card span {
    font-size: 20px;
  }
}

@media print, screen and (max-width: 768px) {
  .access_list {
    gap: 40px;
  }

  .access_card {
    width: 100%;
  }

  .access_card span {
    font-size: 28px;
  }

  .access_card .access_name {
    font-size: 18px;
    padding: 0px 0px 16px 10px;
  }

  .access_card .address {
    font-size: 16px;
    padding: 16px 0px;
  }

  .access_card .tel {
    font-size: 16px;
  }
}

@media print, screen and (max-width: 576px) {
  .access_card span {
    font-size: 20px;
  }
}

/* ----------------------------------------- */
/* reserve */
/* ----------------------------------------- */

.reserve_block {
  background: #343434;
}

.reserve_block .section_title {
  color: #fff;
  text-align: center;
}

.reserve_block p {
  color: #fff;
  font-family: "Noto Serif JP", serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 0.1em;
  text-align: center;
  padding: 0px 0px 100px;
}

.reserve_links {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding-bottom: 100px;
}

.btn_reserve_white {
  width: 300px;
  height: 80px;
  background: #fff;
  font-size: 20px;
  font-weight: 700;
  display: inline-flex;
  line-height: 1;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  transition: color 0.4s ease-in, border 0.4s ease-in,
    background-color 0.4s ease-in;
}

.btn_coupon {
  width: 300px;
  height: 80px;
  font-size: 20px;
  font-weight: 700;
  display: inline-flex;
  line-height: 1;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  background: #343434;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  transition: color 0.4s ease-in, border 0.4s ease-in,
    background-color 0.4s ease-in;
}

/*　reserve メディアクエリ */
/* ----------------------------------------- */

@media print, screen and (max-width: 576px) {
  .reserve_block p {
    font-size: 14px;
    padding: 0px 0px 40px;
  }

  .reserve_links {
    gap: 30px;
    padding-bottom: 50px;
  }

  .btn_reserve_white {
    width: 250px;
    height: 50px;
    font-size: 16px;
    border-radius: 4px;
  }

  .btn_coupon {
    width: 250px;
    height: 50px;
    font-size: 16px;
    border-radius: 4px;
  }
}

/* ----------------------------------------- */
/* footer */
/* ----------------------------------------- */

.footer_block {
  background: #222;
  padding: 0px 0px;
}

.scroll_top {
  flex-basis: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  padding: 90px 120px 70px 0px;
}

.scroll_top span {
  color: #b0a698;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0.1em;
}

.footer_header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 1px solid #fff;
  padding: 0px 120px 30px;
}

.footer_logo img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.footer_nav ul {
  display: flex;
  gap: 40px;
  color: #fff;
  font-size: 24px;
  line-height: 1;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.footer_body {
  color: #fff;
  display: flex;
  justify-content: flex-start;
  gap: 200px;
  padding: 80px 120px 30px;
}

.footer_body .instagram {
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.1em;
}

.footer_body .instagram img {
  width: 20px;
  height: 20px;
  object-fit: cover;
}

.footer_salon_list {
  font-family: "Noto Serif JP", serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.1em;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.footer_salon_list li:not(:first-child) {
  position: relative;
  padding-left: 12px;
}

.footer_salon_list li:not(:first-child)::before {
  color: #fff;
  content: "-";
  position: absolute;
  left: 0px;
  top: -1px;
}

.salon_list_title {
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.footer_copy {
  color: #b0a698;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 0.1em;
  padding: 0px 120px 100px;
  display: flex;
  justify-content: flex-end;
}

/*　footer メディアクエリ */
/* ----------------------------------------- */

@media print, screen and (max-width: 1200px) {
  .footer_header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 8% 50px;
  }

  .scroll_top {
    padding: 50px 8% 50px 0px;
  }

  .footer_logo {
    padding: 0px 0px 40px 0px;
    margin-bottom: 40px;
  }

  .footer_nav ul {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    font-size: 24px;
  }

  .footer_nav ul li {
    width: 29%;
  }

  .footer_body {
    gap: 200px;
    padding: 80px 8% 30px;
  }

  .footer_copy {
    font-size: 12px;
    padding: 0px 8% 100px;
  }
}

@media print, screen and (max-width: 992px) {
  .footer_nav ul li {
    width: 25%;
  }
}

@media print, screen and (max-width: 768px) {
  .scroll_top {
    flex-basis: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 6px;
    padding: 20px 8% 50px 0px;
  }

  .scroll_top span {
    font-size: 12px;
  }

  .footer_logo {
    width: 41.6vw;
  }

  .footer_nav ul {
    gap: 40px;
    font-size: 16px;
  }

  .footer_body {
    flex-direction: column;
    justify-content: flex-start;
    gap: 40px;
  }

  .footer_salon_list {
    font-size: 12px;
  }

  .salon_list_title {
    font-size: 16px;
  }

  .footer_copy {
    padding: 0px 8% 50px;
  }
}

@media print, screen and (max-width: 576px) {
  .footer_nav ul li {
    width: 20%;
  }
}
